@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1D201F;
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-width: 600px;
    min-height: 400px;
}

a {
    text-decoration: none;
    color:#F5F5F5   
}

a:visited {
    text-decoration: none;
    color:#F5F5F5   
}


.loader {
    position: absolute;
    left: calc(50vw - 50px);
    top: calc(50vh - 50px);
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}  

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    100% { transform: rotate(720deg);}
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #888;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F5F5F5;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border: 1px solid #555;
}

main {
    display: none;
}

.header {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #F5F5F5;
}

.footer {
    position: absolute;
    bottom: 0;
    border-top: 2px solid #F5F5F5;
    height: 50px;
    width: 100vw;
    color: #F5F5F5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.select, .select option {
    font-size: 1rem;
}

.list {
    height: calc(100vh - 127px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.item {
    border: 2px solid black;
    height: 100px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item-img {
    width: 90px;
    height: 90px;
    padding: 5px;
    border-right: 2px solid black;
}

.item-img img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}


.item-name {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name a {
    text-decoration: none;
    color: black;
}

.item-name a:visited {
    text-decoration: none;
    color: black;
}


.item-price {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
}